<div class="footerInnerBox">
  <!-- <div class="footerEmail"><a href="mailto:wilsonhuang1415@gmail.com?subject=subject text "><img
        src="../static/pictures/statesIcons/email.png" alt=""></a></div> -->
  <div class="linkedinBox"><a href="https://www.linkedin.com/in/wei-cheng-huang-wilson/"><img
        src="../static/pictures/statesIcons/linkedin.png" alt=""></a></div>
  <div class="gitgunBox"><a href="https://github.com/WEI-CHENGHUANG/GSalary_Project"><img
        src="../static/pictures/statesIcons/github.png" alt=""></a></div>
</div>
<style>
  .footerBox {
    background-color: #e3f2fd;
    height: 150px;
    display: flex;
    justify-content: center;
    width: 100%;
    /*bottom: 0;*/
  }

  .footerBox>.footerInnerBox {
    /*background-color: bisque;*/
    display: flex;
    width: 300;
    height: 130px;
    margin-top: 25px;
    margin-right: 30px;
  }

  .footerBox>div>div {
    background-repeat: no-repeat;
    width: 80px;
    height: 60px;
  }
</style>

<!-- How to Make Footer Stay at Bottom of Page with Bootstrap:  https://radu.link/make-footer-stay-bottom-page-bootstrap/ -->